<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crabsofts.sharenotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.crabsofts.sharenotes.Activities.MainActivity"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crabsofts.sharenotes.Activities.WelcomeActivity"
            android:theme="@style/IntroTheme" />
        <activity android:name="com.crabsofts.sharenotes.Activities.Home" />
        <activity android:name="com.crabsofts.sharenotes.Activities.SubjectsActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.LoginActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.NotesActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.SettingsActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.ContributeActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.FeedbackActivity" />
        <activity android:name="com.crabsofts.sharenotes.Activities.ViewNotesActivity" />

        <service android:name="com.crabsofts.sharenotes.Services.DoubtPostNotificationService" />

        <activity android:name="com.crabsofts.sharenotes.Activities.AboutActivity" />
        <activity
            android:name="com.crabsofts.sharenotes.Activities.DoubtActivity"
            android:theme="@style/DoubtTheme"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity android:name="com.crabsofts.sharenotes.Activities.PrivacyPolicyActivity"></activity>
    </application>

</manifest>